<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Glitsch - Home</title>
    </head>
    <body>
        <header>
            <div id="logo">
                <img src="logo.png" alt="Glitsch" />
            </div>

            <nav>
                <ul>
                    <li>Home</li>
                    <li>Exhibitions</li>
                    <li>Gallery</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </header>

        <section id="content">
            {{ content }}
        </section>

        <footer>
             Alle Rechte vorbehalten.
        </footer>
    </body>
</html>
